
<ul><li>
    <%= form_tag(:controller=> "experience", :action => "search", :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
</li></ul>

<%= link_to 'Share experience',  { action: :share_exp }, 
       method: :get,
       data: { confirm: 'Leave this page?' } %>
       

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>


<%  @experiences.each do |e| %>

<h1>Name:<%= e.user.name%></h1>
<h1>company:<%=e.user.company%></h1>
<h1>Branch:<%=e.user.branch%></h1>
<h1>Year_pass:<%=e.user.year_pass%></h1>



<h3>ROUND NUMBER: <%=e.round_no%></h3>
<h1> Experience: <%=e.content %></h1>
<h1> Tips: <%=e.tips%></h1>



<% if user_signed_in? %>
<% if current_user.id == e.user_id %>
<%= link_to 'Edit experience', edit_experience_path(id: e.id) ,
       method: :get
       # data: { confirm: "Edit this experience?" } 
%>
<%= link_to 'Delete experience',  { action: :destroy, experience_id: e.id }, 
       method: :delete,
       data: { confirm: "Delete this experience?" } 
%> <%end%>
<%end%>
<% session[:experience_id] = e.id%>


<p>No. of UPVOTES:   <%= e.upvotes.count %></p>

<% if user_signed_in? %>
 <% if e.upvotes.where(user_id: current_user.id).first %>
 
<div>
  <%= form_tag url_for({:controller => "upvote",:action => "destroy",method: :post} )  do%>  
  
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= hidden_field_tag :experience_id, e.id %>
    <%= hidden_field_tag :button_id, 'experience_' + e.id.to_s + '_upvote_button' %>
    <%= submit_tag "Destroy Upvote", id:'experience_' + e.id.to_s + '_upvote_button'  %></div>
    <% end %>


    <% else %>

<div>
  <%= form_tag url_for({:controller => "upvote",:action => "create",method: :post}) do%>  
  
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= hidden_field_tag :experience_id, e.id %>
    <%= hidden_field_tag :button_id, 'experience_' + e.id.to_s + '_upvote_button' %>
    <%= submit_tag "Upvote", id:'experience_' + e.id.to_s + '_upvote_button'  %></div>
    <% end %>
<% end %>
<% end %>


<h3>Comments</h3>
<% e.comments.each do |comment|%>
  <div>
    <strong><%= comment.user.name %> says:</strong>
    <p><%= comment.com %></p>

<% if user_signed_in? %>
<% if current_user.id == comment.user_id %>
    <%= link_to 'Delete Comment',  { action: :destroy, controller: :comment, experience_id: e.id, comment_id: comment.id }, 
       method: :delete,
       data: { confirm: "Delete this comment?" } 
%>
  </div>
  <% end %>
<% end %>
<%end %>
<% if user_signed_in? %>
<%= render 'comment/new',:user_id => current_user.id, :experience_id => e.id %>
<% end %>
<% end %>

