<div id="browse_exp_container">
  <% @experiences.each do |experience| %>
      <div class="experience">
        <div class="selector_card mdl-shadow--2dp" id="<%= "experience_" + experience.id.to_s %>">
          <span class="card_company position_absolute"><%= experience.user.company.capitalize %></span>
          <span class="card_name position_absolute"><%= experience.user.name.capitalize %></span>
          <span class="card_round position_absolute"><%= experience.round_no %></span>
          <span class="card_branch_year position_absolute">Branch:<%= experience.user.branch %> Passing Year:<%= experience.user.year_pass %></span>
        </div>
        <div class="main_desc mdl-card mdl-card mdl-shadow--2dp" id="<%= "experience_" + experience.id.to_s + "_sub_card" %>" style="display: none;" >
          <div id='upper-actions'>
          </div>
          <div id="content">
            <%= experience.content %>
          </div>
          <div id="tips">
            <%= experience.tips %>
          </div>
          <div id='actions'>
            <% if user_signed_in? %>
                <% if current_user.id == experience.user_id %>
                    <%= link_to edit_experience_path(id: experience.id),
                                method: :get do %>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                          <i class="material-icons">mode_edit</i> Edit
                        </button>
                    <% end %>
                    <%= link_to url_for(action: :destroy, experience_id: experience.id), method: :delete, data: {confirm: "Delete this experience?"} do %>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                          <i class="material-icons">delete</i></button>
                    <% end %>
                    <% session[:experience_id] = experience.id %>
                <% end %>
                <% session[:experience_id] = experience.id %>
            <% end %>
          </div>
          <div id="upvotes">
            <% if user_signed_in? %>
                <% if experience.upvotes.where(user_id: current_user.id).first %>
                    <div>
                      <%= form_tag url_for({:controller => "upvote", :action => "destroy", method: :post}) do %>
                          <%= hidden_field_tag :user_id, current_user.id %>
                          <%= hidden_field_tag :experience_id, experience.id %>
                          <%= hidden_field_tag :button_id, 'experience_' + experience.id.to_s + '_upvote_button' %>
                          <%= button_tag 'Delete Upvote', class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", options: {
                              id: 'experience_' + experience.id.to_s + '_upvote_button',
                              type: :submit
                          } %>
                      <% end %>
                    </div>
                <% else %>
                    <div>
                      <%= form_tag url_for({:controller => "upvote", :action => "create", method: :post}) do %>
                          <%= hidden_field_tag :user_id, current_user.id %>
                          <%= hidden_field_tag :experience_id, experience.id %>
                          <%= hidden_field_tag :button_id, 'experience_' + experience.id.to_s + '_upvote_button' %>
                          <%= button_tag "Upvote", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", options: {
                              id: 'experience_' + experience.id.to_s + '_upvote_button',
                              type: :submit
                          } %>
                      <% end %>
                    </div>
                <% end %>
            <% end %>
          </div>
          <div id="comment_container">
            <% experience.comments.each do |comment| %>
                <div class="comment">
                  <div class="comment_main">
                    <span><%= comment.user.name %></span>
                    <% if user_signed_in? %>
                        <% if current_user.id == comment.user_id %>
                            <%= link_to url_for(action: :destroy, controller: :comment, experience_id: experience.id,
                                                comment_id: comment.id),
                                        method: :delete,
                                        data: {confirm: "Delete this comment?"} do %>
                                <button class="mdl-button mdl-js-button mdl-button--icon">
                                  <i class="material-icons">delete</i>
                                </button>
                            <% end %>
                        <% end %>
                    <% end %>
                  </div>
                  <div class="comment_content"><%= comment.com %></div>
                  <% if user_signed_in? %>
                      <div class="comment_create">
                        <%= form_tag url_for({:controller => "comment", :action => "create", method: :post}) do %>
                            <%= text_area_tag :com %>
                            <%= hidden_field_tag :user_id, current_user.id %>
                            <%= hidden_field_tag :experience_id, session[:experience_id] %>
                            <%= button_tag 'Comment',
                                           class: "mdl-button mdl-js-button mdl-js-ripple-effect" %>
                        <% end %>
                      </div>
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>
  <% end %>
  </div>
</div>




