
<%  @experiences.each do |e| %>

<h1><%= e.user_id %></h1>

<h1> <%=e.round_no %></h1>
<h1> <%=e.content %></h1>
<h1> <%=e.tips%></h1>

<%= link_to 'Edit experience',  { action: :edit, experience_id: e.id }, 
       method: :get,
       data: { confirm: "Edit this experience?" } 
%>
<%= link_to 'Delete experience',  { action: :destroy, experience_id: e.id }, 
       method: :delete,
       data: { confirm: "Delete this experience?" } 
%>

<% session[:experience_id] = e.id%>

No. of  UPVOTES
<h1><%= e.upvotes.count %></h1>
<%= render 'upvote/new',:user_id => current_user.id, :experience_id => session[:experience_id] %>

<h3>Comments</h3>
<% e.comments.each do |comment|%>
  <div>
    <strong><%= comment.user_id %></strong>
    <br>
    <p><%= comment.com %></p>

    <%= link_to 'Delete Comment',  { action: :destroy, controller: :comment, experience_id: e.id, comment_id: comment.id }, 
       method: :delete,
       data: { confirm: "Delete this comment?" } 
%>
  </div>

<% end %>
<%= render 'comment/new',:user_id => e.user_id, :experience_id => session[:experience_id] %>
<% end %>
