<div class="border-form-div">

  <h2 class="headings"> Share your experiences ....</h2>
  <% if current_user.admin? %>
      <h3>Welcome Admin</h3>
  <% else %>
      <h3>Welcome, <%= current_user.name %>!</h3>
  <% end %>
  <h5>Feel free to share! :)</h5>
  <%= form_for @experience, :url => {:action => "create"}, :html => {:id => "form1"} do |f| %>
      <%= f.text_field :round_no, required: true, placeholder: "ROUND NUMBER" %><br/>
      <%= f.text_area :content, required: true, placeholder: "Experience" %><br/>
      <%= f.text_area :tips, placeholder: "Tips" %><br/>
      <%= button_tag(type: 'submit', class: "btn btn-defaut") do %>
          <i class="material-icons">send</i>
      <% end %>
  <% end %>
  </form>
</div>
