<h1>It is Share your you experience page</h1>
<%= link_to "Log Out", destroy_user_session_path, method: :delete %>

<%= form_for @experience, :url => { :action => "create" } do |f| %>
  Round Number 1: <%= f.text_field :round_no %><br />
  Content: <%= f.text_area :content %><br />
  Tips : <%= f.text_area :tips %><br />
  <%= f.submit %>
<% end %>


<form action="create" method="post">
    Answer: <input type="text" name="number" />

<input type="submit" name="submit">