<div class="border-form-div">

<h2 class="headings"> Share your  experience </h2>
<br>

<% if current_user.admin? %>
  <h3>Welcome  Admin</h3>

<% else %>
  <h3>Welcome User</h3>
<% end %>

<%= link_to "Log Out", destroy_user_session_path, method: :delete %>

<%= form_for @experience, :url => { :action => "create" } do |f| %>
  Round Number 1: <%= f.text_field :round_no %><br />
  Content: <%= f.text_area :content %><br />
  Tips : <%= f.text_area :tips %><br />
  <%= f.submit %>
<% end %>


<form action="create" method="post">
    Answer: <input type="text" name="number" />

<input type="submit" name="submit">

</form>
</div>
