<%  @questions.each do |q| %>

<h1><%= q.user_id %></h1>

<h1> <%=q.ques%></h1>

<h3>ANSWERS</h3>
<% q.answers.each do |answer|%>
  <div>
    <strong><%= answer.user_id %></strong>
    <br>
    <p><%= answer.ans %></p>

    <% end %>

<%= link_to 'Edit question',  { action: :edit, user_id: current_user.id }, 
       method: :get %>

       <%= link_to 'Delete question',  { action: :destroy, user_id: current_user.id, id: q.id }, 
       method: :post,
       data: { confirm: "Delete this question" } %>

<%= render 'answer/ans',:user_id => q.user_id, :question_id => q.id %>

<% end %>

<h1><%= link_to 'Ask a question',  { action: :ask }, 
       method: :get %></h1>
       

